.board_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.global_title,
.korea_title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 20px;
}
.global_info {
  font-size: 16px;
}

.global_board,
.korea_board {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  margin: 0 auto;
}

.global_case,
.global_recover,
.global_death,
.korea_case,
.korea_recover,
.korea_death {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 gray;

  padding: 20px 20px;
  margin: 10px 50px;
}
.korea_case,
.global_case {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.korea_recover,
.global_recover {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.korea_death,
.global_death {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.global_case_count,
.global_recover_count,
.global_death_count,
.korea_case_count,
.korea_recover_count,
.korea_death_count {
  font-size: 28px;
}
.korea_case_today,
.korea_death_today {
  font-weight: 200;
  color: red;
}
.korea_recover_today {
  font-weight: 200;
  color: #0090a5;
}

@media screen and (max-width: 720px) {
  .global_board,
  .korea_board {
    flex-direction: column;
  }
}
