.container {
  padding: 30px;
  /* vh: 요소의 100분의 1  꽉채움*/
  height: 100vh;
  display: grid;

  /* 1fr: 3분의 1*/
  grid-template-rows: auto 1fr auto;

  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;

  margin-bottom: 32px;
  font-size: 30px;
  font-weight: bold;
  flex-direction: column;
}
.header_info {
  font-size: 16px;
  font-weight: 500;
}

.footer {
  margin-top: 32px;
  text-align: center;
  font-size: 1.1rem;
}
